<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Gymnase</title>
<link type="text/css" rel="stylesheet" href="Sport.css">
<!--  <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">-->

</head>
<body>

	<h1>
		Assosiation Sportif<img class="logo"
			src="http://www.waldighoffen.com/vie-associative/les-associations-de-waldighoffen/espace-foot-waldighoffen/visuels-asw/football.png/image_preview"
			alt="Logo">
	</h1>
	<div class="photo"></div>
	<div class="btn-group">
		<a href="sport"><button>Sport</button></a> <a href="gymnase"><button>Gymnase</button></a>
		<a href="ville"><button>Ville</button></a> <a href="jour"><button>Jour</button></a>
	</div>
	<br />
	<h2>Un Sport ?</h2>
	<br />

	<div class="flex">

		<div class="liste-gym-by-sport">
			<select name="sprots" id="pet-select">
				<option value="">--Sports proposes--</option>
				<option value="dog">Foot ball</option>
				<option value="cat">Ping pong</option>
				<option value="hamster">Boxe</option>
				<option value="parrot">Dance</option>
				<option value="spider">Scrime</option>
				<option value="goldfish">Basketball</option>
			</select>
		</div>
		<div class="liste-des-gymnases">
			<a>Liste des gymnases</a>
		</div>
		<div class="dans-l-association">
			<a>Votre sport dans l'association</a>

		</div>
	</div>


</body>
</html>