body {
	background-color: #61C975;
	flex-wrap: wrap;
}

h1 {
	text-align: center;
}

.logo {
	width: 40px;
	height: 40px;
}

h2 {
	text-align: center;
}

.btn-group {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.btn-group button {
	background-color: #9864B7;
	border: 1px solid black;
	color: white;
	padding: 10px 24px;
	box-shadow: 0 4px black;
}

.btn-group button:active {
	background-color: #9864B7;
	box-shadow: 0 2px black;
	transform: translateY(4px);
}

.flex {
	display: flex;
	height: 350px;
}

.liste-gym-by-sport {
	width: 15%; /* Or whatever */
	height: 100%; /* Or whatever */
	flex-wrap: wrap;
}

.liste-des-gymnases {
	width: 60%; /* Or whatever */
	height: 100%; /* Or whatever */
	margin-right: 10px;
	background-color: #e69138;
	border: 3px solid;
	flex-wrap: wrap;
}

.dans-l-association {
	width: 25%; /* Or whatever */
	height: 100%; /* Or whatever */
	margin-left: 10px;
	background-color: #e69138;
	border: 3px solid;
	flex-wrap: wrap;
}